flutter/ephemeral/

# Visual Studio user-specific file.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related file.
x64/
x86/

# Visual Studio cache file
# file ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
